backend/LipCoordNet/lip_coordinate_extraction/shape_predictor_68_face_landmarks_GTX.dat filter=lfs diff=lfs merge=lfs -text
backend/LipCoordNet/pretrain/LipCoordNet_coords_loss_0.025581153109669685_wer_0.01746208431890914_cer_0.006488426950253695.pt filter=lfs diff=lfs merge=lfs -text
backend/LipCoordNet/runs/Dec06_14-41-13_coords/events.out.tfevents.1701844873.coords filter=lfs diff=lfs merge=lfs -text
